Adafruit_Blinka==8.40.1
adafruit_circuitpython_ahtx0==1.0.21
awscrt==0.20.10
boto3==1.34.126
matplotlib==3.8.2
numpy==1.26.4
paho_mqtt==2.1.0
pandas==2.2.2
PyQt5==5.15.10
PyQt5_sip==12.13.0
simple_chalk==0.1.0
